# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.IP-Service-Flow.iml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/


# ====================================================================
# .NET / C# (Fælles)
# ====================================================================
[Bb]in/
[Oo]bj/
*.userprefs
*.upack
*.userosscache
*.sln.docstates

# ====================================================================
# Visual Studio (Til Windows-holdet)
# ====================================================================
.vs/
*.user
*.suo
*.dbmdl
*.jfm
*.pfx
*.publishsettings

# ====================================================================
# JetBrains Rider (Til Maja på Mac)
# ====================================================================
.idea/
*.sln.iml
_ReSharper*/
*.[Rr]e[Ss]harper

# ====================================================================
# macOS
# ====================================================================
.DS_Store
.AppleDouble
.LSOverride
Icon

# ====================================================================
# Windows
# ====================================================================
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.cab
*.msi
*.msix
*.msm
*.msp