# ====================================================================
# Bygge- og publiceringsfiler (C# / .NET)
# ====================================================================
[Bb]in/
[Oo]bj/
*.dll
*.exe
*.pdb
*.userprefs
*.sln.docstates

# ====================================================================
# Visual Studio (Til Windows)
# ====================================================================
.vs/
*.user
*.suo
*.dbmdl
*.pfx
*.publishsettings

# ====================================================================
# JetBrains Rider / ReSharper (Til Mac / Maja)
# ====================================================================
.idea/
*.sln.iml
_ReSharper*/
*.DotSettings.user
*.[Rr]e[Ss]harper
/shelf/
/workspace.xml
/httpRequests/
/queries/
/dataSources/
/dataSources.local.xml

# ====================================================================
# OS-specifikke filer (Mac / Windows)
# ====================================================================
.DS_Store
.AppleDouble
Thumbs.db