@inherits LayoutComponentBase
<div class="page">
    <header class="top-row px-4">
        <div class="d-flex gap-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Service</NavLink>
            <NavLink class="nav-link" href="kunder">Kunder</NavLink>
            <NavLink class="nav-link" href="påmindelser">Påmindelser</NavLink>
        </div>
    </header>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>