@inherits LayoutComponentBase
@using Business_Logic_Layer
@inject AuthService AuthService
@inject NavigationManager NavManager

<div class="page">
    @if (AuthService.IsLoggedIn)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    protected override void OnInitialized()
    {
        // Hvis man ikke er logget ind og ikke allerede er på login-siden, så send dem til login
        if (!AuthService.IsLoggedIn && !NavManager.Uri.Contains("/login"))
        {
            NavManager.NavigateTo("/login");
        }
    }
}